.sub-header {
  height: 250px;
  background-color: #8A92B2;
  margin-bottom: 20px;
  margin-top: 35px;
}

.sub-header img {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titlemeta {
  font-size: 15pt;
  font-weight: bold;
}

.topics {
  border: 1px solid #eee;
  margin-bottom: 15px;
  padding: 15px;
}

#title {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 22pt;
}

p {
  font-family: 'Cairo', sans-serif;
  font-size: 12pt;
}

.sub-header p {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 16pt;
}

#status, #statusend {
  color: red;
  margin-top: 10px;
}

footer { 
   background-color: #e8e8e8;
   padding: 20px;
}

footer p {
  text-align: center;
}

#errorsend {
  color: red;
  margin-top: 10px;
}
